# Discord Bot Token - Get from https://discord.com/developers/applications
DISCORD_TOKEN=your_bot_token_here

# Bot Client ID - Found in your Discord application's General Information
CLIENT_ID=your_client_id_here
